{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        body{
            background-color:#ddd;
        }
    </style>
{% endblock %}
{% block body %}
{% include "layout/nav.html.twig" %}
<div class="content mt-4">
  <h2>Home</h2>
</div>
{% endblock %}
